@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-info">Welcome</h1>
    <hr class="bg-info" />
    <h4>International Space Station Position:</h4>
    <p>
        Latitude: <span id="lat"></span> ° <br />
        Longitude: <span id="long"></span> °
    </p>
</div>

<div id="IssMap"></div>

<script src="~/js/Iss.js"></script>
<link rel="stylesheet" href="~/css/Iss.css" />