@{
    ViewData["Title"] = "News";
}

<div>
    <h1 class="display-4 text-info">News</h1>
    <hr class="bg-info" />
</div>

<div style="padding-top:10px">
    <h5 id="firstTitle" class="justify-content-start"></h5> <br />
    <div class="row">
        <div class="firstImage col-6"></div>
        <p class="col-6 text-justify" id="firstContent"></p>
    </div>
</div>
<div style="margin:17px">
    <div class="row justify-content-between">
        <p> Author : <span id="firstAuthor"></span></p>
        <p id="firstDate"></p>
    </div>
</div>
<hr />
<div style="padding-top:10px">
    <h5 id="secondTitle" class="justify-content-start"></h5> <br />
    <div class="row">
        <div class="secondImage col-6"></div>
        <p class="col-6 text-justify" id="secondContent"></p>
    </div>
</div>
<div style="margin:17px">
    <div class="row justify-content-between">
        <p> Author : <span id="secondAuthor"></span></p>
        <p id="secondDate"></p>
    </div>
</div>
<hr />
<div style="padding-top:10px">
    <h5 id="thirdTitle" class="justify-content-start"></h5> <br />
    <div class="row">
        <div class="thirdImage col-6"></div>
        <p class="col-6 text-justify" id="thirdContent"></p>
    </div>
</div>
<div style="margin:17px">
    <div class="row justify-content-between">
        <p> Author : <span id="thirdAuthor"></span></p>
        <p id="thirdDate"></p>
    </div>
</div>
<hr />
<div style="padding-top:10px">
    <h5 id="fourthTitle" class="justify-content-start"></h5> <br />
   <div class="row">
        <div class="fourthImage col-6"></div>
        <p class="col-6 text-justify" id="fourthContent"></p>
    </div>
</div>
<div style="margin:17px">
    <div class="row justify-content-between">
        <p> Author : <span id="fourthAuthor"></span></p>
        <p id="fourthDate"></p>
    </div>
</div>
<hr />
<div style="padding-top:10px">
    <h5 id="fifthTitle" class="justify-content-start"></h5> <br />
    <div class="row">
        <div class="fifthImage col-6 "></div>
        <p class="col-6 text-justify" id="fifthContent"></p>
    </div>
</div>
<div style="margin:17px">
    <div class="row justify-content-between">
        <p> Author : <span id="fifthAuthor"></span></p>
        <p id="fifthDate"></p>
    </div>
</div>

<script src="~/js/News.js"></script>
<link rel="stylesheet" href="~/css/News.css" />
